.container {
    border: 2px solid red;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content:flex-start;
}

.item {
    width: 100px;
    height: 100px;
    background: orange;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.h200 {
    /* height: 200px; */

}

.h150 {
    /* height: 150px; */
}

.h250 {
    /* height: 250px; */
}

.text-item {
    order: 2;
    flex-grow: 2;
}

.text-item-2 {
    order: 1;
    flex-grow: 2;
    /* flex-shrink: 2; */
    align-self: flex-end;
}

.container-2 {
    border: 1px solid black;
    margin:50px;
    min-height: 100px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.item-2 {
    background: burlywood;
    margin: 10px;
    width: 200px;
}