body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main sidebar-1 sidbar-2"
    "footer footer footer";
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}


#header {
    padding: 20px;
    background: orange;
    grid-area: header;
}

#main {
    padding: 20px;
    background-color: orangered;
    grid-area: main;
}

#sidebar-1, #sidbar-2 {
    padding: 20px;
    background-color: burlywood;
    grid-area: sidebar-1;
}

#sidbar-2 {
    grid-area: sidbar-2;
}

#footer {
    padding: 20px;
    background-color: darkcyan;
    grid-area: footer;
}